# Mac-specific file
.DS_Store
**/.DS_Store

# Ignore old/deprecated code
**/code_graveyard/

# Ignore R
.Rhistory
.Rapp.history

# Ignore output/big data files for now
output/
combined_LR/
LR/
unrelated_pool/

